@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    text-align: center;
    padding: 30px;
    color: black;
}

section {
    background-color: white;
    width: 50vw;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.575);
    border-radius: 10px;
    text-align: center;
}

#imagem {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

footer {
    color: white;
    padding: 20px;
    text-align: center;
}